<div class="card card-default sticky-title">
  <div class="card-body">
    <h2><%= Archangel.t(:edit_resource, resource: @user.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card users-edit">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= render "form", user: @user %>
  </div>
</div>
