.bundle/
.DS_Store
.Trashes
.yardoc/
brakeman.html
coverage/
Desktop.ini
doc/
Gemfile.lock
log/*.log
node_modules/
pkg/
po/
spec/dummy/
package-lock.json
spec/examples.txt
Thumbs.db
yarn.lock

!/app/themes/
/app/themes/*
!/app/themes/default/
