sudo: false
language: ruby
bundler_args: --without production --jobs=3 --retry=3
before_install:
  - gem update --system
  - gem --version
install: ruby -S bundle install
script:
  - bundle exec rake dummy_app
  - bundle exec rake spec
rvm:
  - 2.2.10
  - 2.3.7
  - 2.4.4
  - 2.5.1
  - ruby-head
