<div class="btn-group pull-right" role="group" aria-label="Button group">
  <% if member_action? || new_action? %>
    <%= link_to(fa_icon("chevron-left", text: Archangel.t(:back)), backend_widgets_path, class: "btn btn-link btn-float") %>
  <% end %>

  <% if collection_action? || show_action? || edit_action? %>
    <%= link_to(fa_icon("plus", text: Archangel.t(:new)), new_backend_widget_path, class: "btn btn-link btn-float") %>
  <% end %>

  <% if show_action? %>
    <%= link_to(fa_icon("check", text: Archangel.t(:edit)), edit_backend_widget_path(@widget), class: "btn btn-link btn-float") %>
  <% end %>

  <% if show_action? || edit_action? %>
    <%= link_to(fa_icon("times", text: Archangel.t(:destroy)), backend_widget_path(@widget), class: "btn btn-link btn-float",
                                 method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %>
  <% end %>
</div>
