<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:edit_resource, resource: @widget.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="widgets-edit panel panel-default">
  <div class="panel-body">
    <%= render "form", widget: @widget %>
  </div>
</div>
