<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:new_resource, resource: @widget.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="widgets-new card card-default">
  <div class="card-body">
    <%= render "form", widget: @widget %>
  </div>
</div>
