<!DOCTYPE html>
<html>
<head>
  <title>Archangel</title>
  <%= stylesheet_link_tag    "archangel/application", media: "all" %>
  <%= javascript_include_tag "archangel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
