<footer class="app-footer">
  <span class="ml-auto"><%= Archangel.t(:powered_by) %> <a href="https://github.com/archangel/archangel" target="_blank"><%= Archangel.t(:archangel) %></a></span>
</footer>
