<div class="card card-default sticky-title">
  <div class="card-body">
    <h2><%= Archangel.t(:edit_resource, resource: @collection.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card collections-edit">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= render "form", collection: @collection %>
  </div>
</div>
