<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:edit_resource, resource: @collection.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="collections-edit card card-default">
  <div class="card-body">
    <%= render "form", collection: @collection %>
  </div>
</div>
