<div class="text-center">
  <div class="error-404-show row">
    <div class="col-lg-12">
      <h1>404</h1>

      <h2>Not Found</h2>

      <p>
        Could not find what was requested
      </p>
    </div>
  </div>
</div>
