<div class="text-center">
  <div class="error-401-show row">
    <div class="col-lg-12">
      <h1>401</h1>

      <h2><%= Archangel.t(:unauthorized) %></h2>

      <p>
        <%= Archangel.t(:error_401) %>
      </p>
    </div>
  </div>
</div>
