<!doctype html>
<html lang="en">
  <head dir="{% text_direction %}" lang="{% locale %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% meta_tags %}

    {% csrf_meta_tags %}

    {% theme_stylesheet %}
  </head>
  <body>
    {{ content_for_layout }}

    {% theme_javascript %}
  </body>
</html>
