# frozen_string_literal: true

# Define your extensions Factories within this file to enable applications and
# other extensions to use and override them.
#
# Example adding this to your spec_helper will load these Factories for use:
# require "<%= extension_name %>/factories"

FactoryBot.define do
end

FactoryBot.modify do
end
