<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:edit_resource, resource: @template.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="templates-edit card card-default">
  <div class="card-body">
    <%= render "form", template: @template %>
  </div>
</div>
