.alert {
  color: $white;
  font-size: $font-size-sm;
  font-weight: 300;

  &-primary {
    &,
    > th,
    > td {
      background-color: $primary;
    }
  }

  &-secondary {
    &,
    > th,
    > td {
      background-color: $secondary;
    }
  }

  &-success {
    &,
    > th,
    > td {
      background-color: $success;
    }
  }

  &-info {
    &,
    > th,
    > td {
      background-color: $info;
    }
  }

  &-danger {
    &,
    > th,
    > td {
      background-color: $danger;
    }
  }

  &-warning {
    &,
    > th,
    > td {
      background-color: $warning;
    }
  }

  &-dark {
    &,
    > th,
    > td {
      background-color: $dark;
    }
  }

  &-light {
    &,
    > th,
    > td {
      background-color: $light;
    }
  }

  .alert-link {
    color: $white;
    font-weight: normal;
    text-decoration: underline;
  }

  &-secondary,
  &-light {
    &,
    & a:not(.btn),
    & .alert-link {
      color: $body-color;
    }
  }
}
