.bg-primary {
  .dropdown-menu {
    background-color: $primary;

    .dropdown-item {
      &,
      &:focus {
        color: $navbar-dark-color;
      }

      &.active,
      &:hover,
      &:focus {
        background-color: darken($primary, 5%);
        color: $white;
      }
    }
  }
}

.bg-dark {
  background-color: $gray-800 !important;

  .dropdown-menu {
    background-color: $gray-800;

    .dropdown-item {
      &,
      &:focus {
        color: $navbar-dark-color;
      }

      &.active,
      &:hover,
      &:focus  {
        background-color: darken($gray-800, 5%);
        color: $white;
      }
    }
  }
}

.bg-light {
  .dropdown-menu {
    background-color: $gray-200;

    .dropdown-item {
      &,
      &:focus {
        color: $navbar-light-color;
      }

      &.active,
      &:hover,
      &:focus  {
        background-color: lighten($gray-200, 5%);
        color: $navbar-light-hover-color;
      }
    }
  }
}
