// Global styling for this template

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

#wrapper {
  display: flex;

  #content-wrapper {
    overflow-x: hidden;
    padding-bottom: $sticky-footer-height;
    padding-top: 1rem;
    width: 100%;
  }
}
