<div class="card card-default sticky-title">
  <div class="card-body">
    <h2><%= Archangel.t(:edit_entry_resource, resource: @collection.name.singularize) %></h2>
  </div>
</div>

<div class="card entries-edit">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= render "form", collection: @collection, entry: @entry %>
  </div>
</div>
