<div class="card card-default sticky-title rounded-0">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: @collection.name.singularize) %></h2>
  </div>
</div>

<div class="card entries-show">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%- fields = @collection.fields.map { |item| item.slug } %>

    <% fields.each do |field| %>
      <p>
        <strong><%= field %>:</strong>
        <%= @entry.value[field] %>
      </p>
    <% end %>
  </div>
</div>
