<ul class="nav nav-pills pull-right">
  <% if member_action? || new_action? %>
    <li><%= link_to(fa_icon("chevron-left", text: Archangel.t(:back)), backend_assets_path, class: "btn btn-link btn-float") %></li>
  <% end %>

  <% if collection_action? || show_action? || edit_action? %>
    <li><%= link_to(fa_icon("plus", text: Archangel.t(:new)), new_backend_asset_path, class: "btn btn-link btn-float") %></li>
  <% end %>

  <% if show_action? %>
    <li><%= link_to(fa_icon("check", text: Archangel.t(:edit)), edit_backend_asset_path(@asset), class: "btn btn-link btn-float") %></li>
  <% end %>

  <% if show_action? || edit_action? %>
    <li><%= link_to(fa_icon("times", text: Archangel.t(:destroy)), backend_asset_path(@asset), class: "btn btn-link btn-float",
                                     method: :delete, data: { confirm: Archangel.t(:are_you_sure) }) %></li>
  <% end %>
</ul>
