<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:edit_resource, resource: @asset.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="assets-edit panel panel-default">
  <div class="panel-body">
    <%= render "form", asset: @asset %>
  </div>
</div>
