<div class="card card-default sticky-title rounded-0">
  <div class="card-body">
    <h2><%= Archangel.t(:new_resource, resource: @asset.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card assets-new">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= render "form", asset: @asset %>
  </div>
</div>
