<ul class="nav nav-pills pull-right">
  <% if edit_action? %>
    <li><%= link_to(fa_icon("chevron-left", text: Archangel.t(:back)), backend_profile_path) %></li>
  <% end %>

  <% if show_action? %>
    <li><%= link_to(fa_icon("check", text: Archangel.t(:edit)), edit_backend_profile_path) %></li>
  <% end %>
</ul>
