<div class="btn-group pull-right" role="group" aria-label="Button group">
  <% if edit_action? %>
    <%= link_to(fa_icon("chevron-left", text: Archangel.t(:back)), backend_profile_path, class: "btn btn-link btn-float") %>
  <% end %>

  <% if show_action? %>
    <%= link_to(fa_icon("check", text: Archangel.t(:edit)), edit_backend_profile_path, class: "btn btn-link btn-float") %>
  <% end %>
</div>
