<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:edit_resource, resource: Archangel.t(:profile)) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="profile-edit panel panel-default">
  <div class="panel-body">
    <%= render "form", profile: @profile %>
  </div>
</div>
