<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:edit_resource, resource: Archangel.t(:profile)) %></h2>
  </div>
</div>

<div class="card profiles-edit">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= render "form", profile: @profile %>
  </div>
</div>
