<div class="btn-group pull-right" role="group" aria-label="Button group">
  <% if edit_action? %>
    <%= link_to(Archangel.t(:back), backend_site_path, class: "btn btn-link", role: "button") %>
  <% end %>

  <% if show_action? %>
    <%= link_to(Archangel.t(:edit), edit_backend_site_path, class: "btn btn-link", role: "button") %>
  <% end %>
</div>
