<div class="card">
  <div class="card-header">
    <%= fa_icon("tint") %> Display headings
  </div>

  <div class="card-body">
    <p>Traditional heading elements are designed to work best in the meat of your page content. When you need a heading to stand out, consider using a

    <strong>display heading</strong>—a larger, slightly more opinionated heading style.</p>

    <div class="bd-example bd-example-type">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <span class="display-1">Display 1</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="display-2">Display 2</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="display-3">Display 3</span>
            </td>
          </tr>

          <tr>
            <td>
              <span class="display-4">Display 4</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
