<div class="card">
  <div class="card-header">
    <%= fa_icon("tint") %> Grays
  </div>

  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="p-3 bg-gray-100">100</div>
        <div class="p-3 bg-gray-200">200</div>
        <div class="p-3 bg-gray-300">300</div>
        <div class="p-3 bg-gray-400">400</div>
        <div class="p-3 bg-gray-500">500</div>
        <div class="p-3 bg-gray-600">600</div>
        <div class="p-3 bg-gray-700">700</div>
        <div class="p-3 bg-gray-800">800</div>
        <div class="p-3 bg-gray-900">900</div>
      </div>
    </div>
  </div>
</div>
