<div class="card">
  <div class="card-header">
    <%= fa_icon("tint") %> Headings
  </div>

  <div class="card-body">
    <p>Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.</p>

    <table class="table">
      <thead>
        <tr>
          <th>Heading</th>
          <th>Example</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <p>
            <code class="highlighter-rouge">&lt;h1&gt;&lt;/h1&gt;</code>
            </p>
          </td>
          <td>
            <span class="h1">h1. Bootstrap heading</span>
          </td>
        </tr>
        <tr>
          <td>
            <p>
            <code class="highlighter-rouge">&lt;h2&gt;&lt;/h2&gt;</code>
            </p>
          </td>
          <td>
            <span class="h2">h2. Bootstrap heading</span>
          </td>
        </tr>
        <tr>
          <td>
            <p>
            <code class="highlighter-rouge">&lt;h3&gt;&lt;/h3&gt;</code>
            </p>
          </td>
          <td>
            <span class="h3">h3. Bootstrap heading</span>
          </td>
        </tr>
        <tr>
          <td>
            <p>
            <code class="highlighter-rouge">&lt;h4&gt;&lt;/h4&gt;</code>
            </p>
          </td>
          <td>
            <span class="h4">h4. Bootstrap heading</span>
          </td>
        </tr>
        <tr>
          <td>
            <p>
            <code class="highlighter-rouge">&lt;h5&gt;&lt;/h5&gt;</code>
            </p>
          </td>
          <td>
            <span class="h5">h5. Bootstrap heading</span>
          </td>
        </tr>
        <tr>
          <td>
            <p>
            <code class="highlighter-rouge">&lt;h6&gt;&lt;/h6&gt;</code>
            </p>
          </td>
          <td>
            <span class="h6">h6. Bootstrap heading</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<div class="card">
  <div class="card-header">
    <%= fa_icon("tint") %> Headings
  </div>

  <div class="card-body">
    <p>
      <code class="highlighter-rouge">.h1</code> through
      <code class="highlighter-rouge">.h6</code> classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.
    </p>

    <div class="bd-example">
      <p class="h1">h1. Bootstrap heading</p>
      <p class="h2">h2. Bootstrap heading</p>
      <p class="h3">h3. Bootstrap heading</p>
      <p class="h4">h4. Bootstrap heading</p>
      <p class="h5">h5. Bootstrap heading</p>
      <p class="h6">h6. Bootstrap heading</p>
    </div>
  </div>
</div>
