<div class="card">
  <div class="card-header">
    <%= fa_icon("tint") %> Headings
  </div>

  <div class="card-body">
    <p>
      <code class="highlighter-rouge">.h1</code> through
      <code class="highlighter-rouge">.h6</code> classes are also available, for when you want to match the font styling of a heading but cannot use the associated HTML element.
    </p>

    <div class="bd-example">
      <p class="h1">h1. Bootstrap heading</p>
      <p class="h2">h2. Bootstrap heading</p>
      <p class="h3">h3. Bootstrap heading</p>
      <p class="h4">h4. Bootstrap heading</p>
      <p class="h5">h5. Bootstrap heading</p>
      <p class="h6">h6. Bootstrap heading</p>
    </div>
  </div>
</div>
