<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:edit_resource, resource: @site.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="site-edit panel panel-default">
  <div class="panel-body">
    <%= render "form", site: @site %>
  </div>
</div>
