<div class="card card-default sticky-title rounded-0">
  <div class="card-body">
    <h2><%= Archangel.t(:edit_resource, resource: @page.model_name.human.titleize) %></h2>
  </div>
</div>

<div class="card pages-edit">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <%= render "form", page: @page %>
  </div>
</div>
