<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= Archangel.t(:new_resource, resource: @page.model_name.human.titleize) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="pages-new panel panel-default">
  <div class="panel-body">
    <%= render "form", page: @page %>
  </div>
</div>
