<div id="alert-messages">
  <% unless flash.empty? %>
    <% flash.delete(:timedout).each do |key, value| %>
      <div class="alert alert-<%= flash_class_for(key) %> alert-link" role="alert">
        <%= value %>
      </div>
    <% end %>
  <% end %>
</div>
