<div class="card card-default sticky-title">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: Archangel.t(:dashboard)) %></h2>
  </div>
</div>

<div class="card dashboards-show">
  <div class="card-header">
    <%= render "buttons" %>
  </div>

  <div class="card-body">
    <p>
      <%= Archangel.t(:dashboard) %>
    </p>
  </div>
</div>
