<div class="card card-default">
  <div class="card-body">
    <h2><%= Archangel.t(:show_resource, resource: Archangel.t(:dashboard)) %></h2>

    <%= render "buttons" %>
  </div>
</div>

<div class="dashboard-show card card-default">
  <div class="card-body">
    <p>
      <%= Archangel.t(:dashboard) %>
    </p>
  </div>
</div>
